{% load humanize %}

<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <title>MBTA Budget Calculator</title>
    <meta name="description" content="MBTA Budget Calculator">
    <meta name="author" content="MAPC">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}budgetcalc/css/docs.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}img/apple-touch-icon-114x114.png">

    <!-- Facebook Open Graph -->
    <meta property="og:title" content="MBTA Budget Calculator" />
    <meta property="og:type" content="government" />
    <meta property="og:url" content="http://fixthet.mapc.org" />
    <meta property="og:image" content="http://fixthet.mapc.org/static/budgetcalc/img/t.png" />
    <meta property="og:site_name" content="MBTA Budget Calculator" />
    <meta property="fb:admins" content="644656520,607600607" />

    <!-- Google +1 -->
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
    
    <!-- Google Analytics -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-5547782-15']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

  </head>

  <body>
    
    <!-- Facebook -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=176500002460132";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    
    <div class="navbar navbar-fixed-top">
      <div class="mapc-masthead"><div class="container"><img id="mapc-logo" src="{{ STATIC_URL }}budgetcalc/img/mapc-logo.png" alt="Metropolitan Area Planning Council" width="124" height="64" /><img id="mapc-tagline" src="{{ STATIC_URL }}budgetcalc/img/mapc-tagline.png" alt="Metropolitan Area Planning Council" width="475" height="54" /><img id="nu-policy-logo" src="{{ STATIC_URL }}budgetcalc/img/nu-policy-logo.png" alt="Northeastern University" width="226" height="59" /></div></div>
      <div class="tally">
        <div class="container">
          <div class="row">
            <div class="span8">
              <div class="row">
                <div class="span8">
                  <h1>MBTA Budget Calculator:</h1> 
                  <small>How Would You Fix the T's Budget?</small>
                </div>
              </div>
              <div class="row">
                <div class="span4 figure">Budget <span class="budget-gap-verbose">Deficit</span>: <span class="budget-gap">$ 161,000,000</span></div>
                <div class="span4 figure">You've filled: <span class="budget-filled">$ 0</span></div>
              </div>
            </div>
            <div class="span4 tpic">
              <img src="{{ STATIC_URL }}budgetcalc/img/t.png" alt="T" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      <header class="page-header">
        <div class="row">
          <div class="span8">
            <p class="lead">After a decade of chronic underfunding, the MBTA is facing a $161 million gap in its budget for fiscal year 2013, which begins on July 1st. The T has proposed two different packages of fare increases and service cuts (Scenario 1 and Scenario 2), both of which have generated strong public opposition. See if you can figure out a better way to fix next year's budget by choosing what you think are the best options for raising revenue, cutting costs, and finding help from other state agencies. <a target="_blank" href="http://mapc.org/resources/trans-finance/" title="MBTA Fare and Service Changes">Click to learn more about how the T got here, and see their proposals to fill the gap</a>.</p>
          </div>
        </div>
      </header>

      {% regroup options by category as category_list %}

      <section class="budget">

      <div class="row">

        <div class="span8">

          <table class="table budget-builder">
            <thead>
              <tr>
                <th></th>
                <th class="impact">Savings or Revenue</th>
              </tr>
            </thead>
            <tbody>
          {% for category in category_list %}
              <tr>
                <td class="category-header"><h1>{{ category.grouper }}</h1></td>
                <td class="category-header budget-type">{% if category.grouper.cat_type == 'r' %}Revenue{% else %}Savings{% endif %}</td>
              </tr>
          {% regroup category.list by optiongroup as optiongroup_list %}
          {% for optiongroup in optiongroup_list %}
              {% if optiongroup.grouper %}
              <tr>
                <td colspan="2"><h3>{{ optiongroup.grouper }}{% if optiongroup.grouper.desc %}<a class="details" title="Details" data-content="{{ optiongroup.grouper.desc|safe }}">Details</a>{% endif %}{% if optiongroup.grouper.form_type = 'r' %}<span class="clear-bar">&#124;</span><a class="clear" name="optiongroup_{{ optiongroup.grouper.id }}" title="Clear your selection in this category">Clear Selection</a>{% endif %}</h3></td>
              </tr>
              {% endif %}

              {% if optiongroup.grouper.form_type = 'r' %}
              {% for option in optiongroup.list %}  
                   
              <tr class="input">
                <td><label class="radio{% if option.parent %} child{% endif %}"><input class="budget-change" type="radio" value="{{ option.amount }}" name="{% if option.parent %}option_{{option.parent.id}}-child{% else %}optiongroup_{{ optiongroup.grouper.id }}{% endif %}"{% if option.parent %}data-parent="option_{{option.parent.id}}" data-optiongroup="optiongroup_{{ optiongroup.grouper.id }}"{% endif %} id="option_{{ option.id }}">{{ option.title }}{% if option.desc %}<a class="details" title="Details" data-content="{{ option.desc|safe }}">Details</a>{% endif %}</label></td>
                <td class="impact">${{ option.amount|intword }}</td>
              </tr>

              {% endfor %}
              {% else %}
              {% for option in optiongroup.list %}

              <tr class="input">
                <td><label class="checkbox"{% if option.desc %} title="Details" data-content="{{ option.desc }}"{% endif %}><input class="budget-change" type="checkbox" value="{{ option.amount }}" id="option_{{ option.id }}">{{ option.title }}{% if option.desc|safe %}<a class="details" title="Details" data-content="{{ option.desc }}">Details</a>{% endif %}</label></td>
                <td class="impact">${{ option.amount|intword }}</td>
              </tr>

              {% endfor %}
              {% endif %}
          {% endfor %}
          {% endfor %}

            </tbody>
          </table>

        </div> <!-- /table -->

      </div> <!-- /row -->
      </section>

      <section class="mobile-tally">
        <div class="row">
          <div class="span8 tally">
            <div class="well">
              <p class="figure">Budget <span class="budget-gap-verbose">Deficit</span>:<br /><span class="budget-gap">$ 161,000,000</span></p>
              <p class="figure">You've filled:<br /><span class="budget-filled">$ 0</span></p>
            </div>
        </div>
      </section>

      <section>
        <div class="row">
          <div class="span8">
            <div id="error-nobudget" class="alert alert-block alert-error fade in">
              <a class="close" href="#">&times;</a>
              <h4 class="alert-heading">Error: Empty budget.</h4>
              <p>Please adjust your budget before you submit your proposal.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="span8">
            <div id="error-noemail" class="alert alert-block alert-error fade in">
              <a class="close" href="#">&times;</a>
              <h4 class="alert-heading">Error: Email is not valid.</h4>
              <p>Please enter a valid email address. We won't share your personal information. Unique email addresses help us to improve our results.</p>
            </div>
          </div>
        </div>     

        <div class="row">
          <div class="span8">
            <form id="budget-form" action="{% url budgetcalc-index %}">
              <div class="form-actions">
                <p class="lead">Submit your budget proposal and see aggregated results from other users.</p>
                {% csrf_token %}
                <div class="input-prepend">
                  <span class="add-on"><i class="icon-envelope"></i></span>
                  <input type="email" class="input-xlarge" placeholder="Enter Your Email (required)" id="email"></div>
                <div>
                  <button id="budget-btn" class="btn btn-large btn-primary" href="#">Submit Your Proposal</button>
                </div>
              </div>
            </form>
          </div>
        </div>        
      </section>

      <section class="dia">
        <div class="row">
          <div class="span8">
            <div class="well">
              <h3>Take Action!</h3>
              <p><a class="dia btn btn-large btn-success" href="http://org2.democracyinaction.org/o/5859/p/dia/action/public/?action_KEY=9739" target="_blank"><i class="icon-envelope icon-white"></i> Email Your Legislator</a><br><small>Opens a new window.</small></p>
            </div>
          </div>
        </div>
      </section>

      <section class="social-media">
        <div class="row">
          <div class="span8">
            <div class="well">
              <span class="title">Share with your friends: </span>
              <ul class="unstyled">
                <li class="email-link"><a class="btn btn-mini" href="mailto:?subject=MBTA Budget Calculator&body=I filled the MBTA Budget Gap at: http://fixthet.mapc.org"><i class="icon-envelope"></i> Email</a></li>
                <li class="twitterwidget"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://fixthet.mapc.org/" data-counturl="http://fixthet.mapc.org/budgetcalculator/" data-text="I'm working on the MBTA budget! #fixthet" data-via="MAPCMetroBoston">Tweet</a>
                  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>             
                <li><g:plusone size="medium"></g:plusone></li>
                <li><div class="fb-like" data-send="false" data-layout="button_count" data-show-faces="false"></div></li>
              </ul>
            </div>
          </div>
        </div> 
      </section>

      <footer class="footer">
        <p>&copy; 2012 <a href="http://mapc.org" title="Metropolitan Area Planning Council">MAPC</a></p> 
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}jquery-1.7.1.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}budgetcalc/js/application.js"></script>
  </body>
</html>
