<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MAPC's MBTA Budget Calculator</title>
    <meta name="description" content="MAPC's MBTA Budget Calculator">
    <meta name="author" content="MAPC">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}budgetcalc/css/docs.css" rel="stylesheet">

    <!-- Le fav and touch icons 
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png"> -->
  </head>

  <body>
    

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{% url budgetcalc-index %}">MBTA Budget Calculator</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="divider-vertical"></li>
              <li class="budget-figure">You've filled: <span class="filled">$0</span></li>
              <li class="budget-figure">You still need to find: <span class="missing">$161,000,000</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>


    <div class="container">

      <header class="page-header">
        <p class="lead">Please use the options below to fill the <b>$161 million MBTA budget gap</b> with revenues and savings.</p>
      </header>

      {% regroup options by category as category_list %}

      {% for category in category_list %}
      <section class="budget" id="fareincreases">
        <div class="category-header">
          <h1>
            {{ category.grouper }}
          </h1>
        </div>

        {% regroup category.list by optiongroup as optiongroup_list %}

        <div class="budget-builder">
          {% for optiongroup in optiongroup_list %}
          <h3>{{ optiongroup.grouper }}{% if optiongroup.grouper.id != 1 %}<a class="clear" name="{{ optiongroup.grouper|slugify }}">&times;</a>{% endif %}</h3>
          {% if optiongroup.grouper.id != 1 %}
          {% for option in optiongroup.list %}       
          <label class="radio"><input class="budget-change" type="radio" value="{{ option.amount }}" name="{{ optiongroup.grouper|slugify }}" id="option_{{ option.id }}">{{ option.title }}</label>
          {% endfor %}
          {% else %}
          {% for option in optiongroup.list %}
          <label class="checkbox"><input class="budget-change" type="checkbox" value="{{ option.amount }}">{{ option.title }}</label>
          {% endfor %}
          {% endif %}
          {% endfor %}
        </div>

      </section>
    {% endfor %}

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}jquery-1.7.1.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}budgetcalc/js/application.js"></script>
  </body>
</html>
